In [1]:
! conda env list

# conda environments:
#
base                  *  /home/suh/anaconda3
MetabSubtype             /home/suh/anaconda3/envs/MetabSubtype
unimatch                 /home/suh/anaconda3/envs/unimatch
vsi_reader_env           /home/suh/anaconda3/envs/vsi_reader_env

In [5]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [35]:
metab_df=pd.read_csv('../../../Subtype/data/Using/metab.csv',index_col=0)
sample_df=pd.read_csv('../../../Subtype/data/Using/whole_sample_info.csv',index_col=0)
lipid_df=pd.read_csv('../../../Subtype/data/Using/lipid.csv',index_col=0)
# sample_df=chemical_sample_df
# sample_df.set_index("Sample Name",inplace=True)

metab_num=metab_df.shape[1]
lipid_num=lipid_df.shape[1]

In [14]:
sample_df.index = sample_df['Sample Name']
sample_df.loc[:,['os']]

                 os
Sample Name
1520         140.67
2423          90.33
3334          80.97
1277          86.43
4931          58.73
...             ...
210012-T      11.70
200095-T      10.30
200097-T       9.47
200128-T      24.97
200131-T      16.23

[106 rows x 1 columns]

In [31]:
with open('/home/suh/workstation/MetabSubtype/tasks/MultiOmics/notebooks/survival/metab_shap_sig_features.txt', 'r') as file:
    features = [line.strip() for line in file]

In [16]:
survival_df = pd.merge(metab_df, sample_df.loc[:,['os']],left_index=True,right_index=True)

In [20]:
survival_df = survival_df.fillna(0)

In [33]:
survival_df  = survival_df.loc[:,features+['os']]

In [28]:
rows_with_na = survival_df.isna().any(axis=0)

rows_with_na[rows_with_na]

Series([], dtype: bool)

In [29]:
survival_df.shape

(101, 172)

In [34]:
survival_df.to_csv('../../data/survival_sample/table_transformer.csv')